@font-face {
    font-family: "Inter";
    src: url("/fonts/inter_Bold.ttf") format("truetype");
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 30px 1rem;
    background: white;
    min-width: 90%;
    max-width: 1240px;
}

.header-left,
.header-right {
    display: flex;
    min-width: 200PX;
    gap: 18px;
}

section-header .header-icon-logo {
    width: 34px;
    height: 34px;
}

.header-center {
    flex: 1;
    text-align: center;
}

.header-title {
    display: flex;
    justify-content: center;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-family: "Inter", sans-serif;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.lang-selector {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 4px;
}

.arrow {
    font-size: 12px;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 64px;
    padding: 18px 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.06em;
    border-bottom: 2px solid #E5E5E5;
}

.main-nav a {
    color: #222;
    text-decoration: none;
    font-size: 20px;
}

.main-nav a:hover {
    opacity: 0.6;
}

@media (max-width: 1080px) {
    .header {
        padding: 18px 30px;
    }

    .main-nav {
        gap: 30px;
    }
}

@media (max-width: 700px) {
    .header {
        padding: 12px 20px;
        border-bottom: 2px solid #E5E5E5;
    }

    .header-left,
    .header-right {
        display: flex;
        min-width: 100px;
        gap: 10px;
    }

    .header-icon-logo {
        width: 20px;
        height: 20px;
    }

    .header-title {
        font-size: 20px;
    }

    .main-nav {
        display: none;
    }
}