.product-card {
  position: relative;
  padding-bottom: 10px;
}

.new-label {
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  top: 8px;
  left: 8px;
}

.product-image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 120%;
  background: #fff;
  overflow: hidden;
}

.product-image {
  object-fit: contain;
}

.out-stock-overlay {
  position: absolute;
  top: 45%;
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  border-radius: 4px;
}
.product-info {
  margin-top: 12px;
  position: relative;
}

.product-title {
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85%;
}

.pricing-text {
  font-size: 12px;
  color: #666;
}

.product-action {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wishlist-btn {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}