.filterbar {
    width: 100%;
    padding: 20px 0px;
    border-bottom: 2px solid #e5e5e5;
    border-top: 2px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-count {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.02em;
}
.filterbar-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.filterbar-middle {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 12px 0px;
    gap: 3px;
}

.bar-arrow {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;

}

.bar-arrow.rotate {
    transform: rotate(180deg);
}

.hide-filter {
    background: none;
    border: none;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #5e5e5e;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease;
}

.filterbar-right {
    display: flex;
    
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.sort-text {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
}
.mobile-filter{
    border: none;
    font-weight: 700;
    cursor: pointer;

    flex: 1;
    background: white;
    border-right: 2px solid #e5e5e5;
    padding: 5px 0;

}

.sort-arrow {
    font-size: 14px;
    transform: rotate(90deg);
}


@media (max-width: 768px) {

    .filterbar-right{
        flex:1;
        justify-content: center;
    }

    .filterbar {
        padding: 12px 0px;
    }

    .item-count {
        font-size: 16px;
    }

    .hide-filter {
        font-size: 14px;
    }

    .sort-text {
        font-size: 14px;
    }
}